.container {
  text-align: center;
}

button {
  background: #181e72;
  color: #fffffff1;
  font-size: 14px;
  padding: 15px;
  cursor: pointer;
  border: 0;
}

select {
  width: 60px;
  height: 40px;
  font-size: 20px;
  color: #fffffff1;
  background-color: #181e72;
  display: inline-block;
}

h2 {
  display: inline-block;
  margin: 65px 0px 0px 40px;
  font-family: fantasy;
  font-weight: 500;
}
